################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JG.ZUT.Algorithms/v16
/Algorithms.ListWithCars/Algorithms.ListWithCars/.vs
/Algorithms.ListWithCars/Algorithms.ListWithCars/Algorithms.ListWithCars/x64/Debug
/Algorithms.ListWithCars/Algorithms.ListWithCars/x64/Debug
